<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"></h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Edit Profile</h4>
                           
                        </div>
                        <div class="card-body">
                                <form [formGroup]="form" name="form" (ngSubmit)="formSubmit()" >
                                       
                                        <div class="row">
                                              <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="cin" type="text"  class="form-control" formControlName="cin" [ngClass]="{'is-invalid':form.get('cin').touched && form.get('cin').invalid}" />
                                                      <div class="invalid-feedback">
                                                              <div>required</div>
                                                            </div>
                                                 
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="email" type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" />
                                                  <div class="invalid-feedback">
                                                          <div> required, email type </div>
                                                        </div>
                                                </mat-form-field>
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="nom" type="text" class="form-control" formControlName="nom" [ngClass]="{'is-invalid':form.get('nom').touched && form.get('nom').invalid}" />
                                                <div class="invalid-feedback">
                                                      <div>   required</div>
                                                    </div>
                                              </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="prenom" type="text" class="form-control" formControlName="prenom" [ngClass]="{'is-invalid':form.get('prenom').touched && form.get('prenom').invalid}" />
                                                <div class="invalid-feedback">
                                                      <div>  required</div>
                                                    </div>
                                              </mat-form-field>
                                            </div>
                                            </div>
                                            
                                            
                                       
            
                                    </form>
                                </div>
                            </div>
                       
    
              
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="formSubmit()">Save</button>
                </div>
              </ng-template>
              











<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Users Table </h4>
                      
                      
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      CIN
                                  </th>
                                  <th>
                                      Prenom
                                  </th>
                                 <th>
                                     Nom 
                                 </th>
                                 <th>
                                       email
                                    </th>
                                    <th>
                                        supprimer
                                     </th>
                                     <th>
                                        modifier
                                     </th>
                                     <th><button class="btn" (click)="open(content)"><i class="fa fa-plus"></i> </button></th>


                              </thead>

                              <tbody>
                                  
                                    <tr *ngFor="let row of tabStag">
                            
                                        <td>{{row.cin}}</td>
                                        <td>{{row.prenom}}</td>
                                        <td>{{row.nom}}</td>
                                        <!--<td>{{row.rib}}</td>
                                        <td>{{row.date_naissance}}</td>-->
                                        <td>{{row.email}}</td>
                                       
                                       
                                        <td><button class="btn" (click)="deleteStag(row.id)"><i class="fa fa-trash"></i></button></td>
                                        <td><button class="btn" (click)="update(row.id)"><i class="fa fa-edit"></i></button></td>
                                        
                                    </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          