<div class="main-content">
  <div class="container-fluid">
     
          
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form #stagiaireForm="ngForm" (ngSubmit)="saveStagiaire(stagiaireForm)">
                          <div class="row">

                            
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                   
                                    <input matInput placeholder="Email address" type="email" name="email"  [(ngModel)]="email"> 
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" name="prenom"  [(ngModel)]="prenom">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" name="nom"  [(ngModel)]="nom">
                                </mat-form-field>
                              </div>
                              <button type="button" class="btn btn-outline-dark" (click)="saveStagiaire(stagiaireForm)" >Save</button>
                          </div>
                          
                              
                   
                          
                          
                      </form>
                  </div>
              </div>
          </div>
    
</div>
