
<div class="main-content">
        <div class="container-fluid">

<div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
           
        </div>
        <div class="card-body">
            <form #stagiaireForm="ngForm">
                <div class="row">

                  
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                         
                          <input matInput placeholder="nom" type="text" name="nom"  [(ngModel)]="nom"> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="type projet" type="text" name="type_projet"  [(ngModel)]="type_projet">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="budget" type="text" name="budget"  [(ngModel)]="budget">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="date_debut" type="text" name="date_debut"  [(ngModel)]="date_debut">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="date_fin" type="text" name="date_fin"  [(ngModel)]="date_fin">
                    </mat-form-field>
                  </div>
                  <button type="button" class="btn btn-outline-dark" (click)="updat(stagiaireForm)" >Save</button>
              </div>
                
                    
         
                
                
            </form>
        </div>
    </div>


    
</div>

    
</div>




